apache-tomcat-8.0.45/logs/
apache-tomcat-8.0.45/webapps/
apache-tomcat-8.0.45/work/
goodbye/target/
hello/target/
target/
logs/

!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/